# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Flask instance folder (contains database & secrets)
instance/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db
